{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% load i18n %}

{% block title %}{% translate 'Change Password' %}{% endblock %}


{% block links %}

<link rel="stylesheet" href="{% static 'css/auth-forms/forms.css' %}">

{% endblock %}



{% block content %}
<div class="form-container">
    <div class="form-center">
        <div class="form-card">
            <img src="{% static 'images/introduction/form-user-icon.png' %}" alt="">
            {% include 'registration/messages.html' %}
            <h2>{% translate 'New Password' %}</h2>

            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-error" role="alert">
                            <span>
                                {{ field.errors|striptags|title }}
                            </span>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                

                {{ form.password|attr:'class:input-box' }}
                {{ form.password1|attr:'class:input-box' }}
                <input type="submit" value="{% translate 'Change Password' %}" class="btn">
            </form>
        </div>
    </div>
</div>



{% endblock %}