{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% load i18n %}

{% block title %}{% translate 'Verify Account' %}{% endblock %}


{% block links %}

<link rel="stylesheet" href="{% static 'css/auth-forms/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/auth-forms/verify-form.css' %}">

{% endblock %}



{% block content %}
<div class="form-container main-body">
    <div class="form-center">
        <div class="form-card">
            <img src="{% static 'images/introduction/form-user-icon.png' %}" alt="">
            {% include 'registration/messages.html' %}
            <h2>{% translate 'Activate your account' %}</h2>

            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-error" role="alert">
                            <span>
                                {{ field.errors|striptags|title }}
                            </span>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <div class="resend-box">
                    {{ form.number|attr:'class:input-box'|attr:'placeholder:Phonenumber' }}
                    <button id="resend-otp" class="btn">resend otp</button>
                </div>

                {{ form.otp|attr:'class:input-box'|attr:'placeholder:Verification Code' }}

                <input type="submit" value="{% translate 'Verify' %}" class="btn">
                <p class="or">{% translate 'or' %}</p>

                <p>{% translate 'Not have an account ?' %} <a href="{% url 'accounts:register' %}">{% translate 'register' %}</a></p>
                <p>{% translate 'Have you forgot your password ?' %} <a href="{% url 'accounts:forgetPass' %}">{% translate 'reset password' %}</a></p>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block js-files %}
<script src="{% url 'js-cat' %}"></script>

<script src="{% static 'js/easyHTTP.js' %}"></script>

<script src="{% static 'js/registration/alerts.js' %}"></script>

<script>
    const csrfToken = '{{ csrf_token }}';
    const url = '{% url "accounts:verify" %}';
    const resendBtn = document.getElementById('resend-otp');
    const phoneNumber = document.getElementById('id_number');
    const http = new EasyHTTP;

    resendBtn.addEventListener('click', e => {
    e.preventDefault();
    data = {'phone' : phoneNumber.value,};
    
    http.post_account(url, csrfToken, data, function(err, res, status) {
        if (!err){ 

            if (status === 201){
                showAlert(gettext('The OTP is sent to your phone.'), 'alert-success');
                console.log('new otp');
            } else if (status === 208) {
                showAlert(gettext('The OTP is already sent.'), 'alert-error');
                console.log('same otp');
            }

        } else {
            console.log(err);
        }
    })
})
</script>


{% endblock %}