.product {
    padding-top: 1rem;
}

.product .section-center {
    background: #888daa0b;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

/*
====================
Product Images
====================
*/
.product-images {
    display: flex;
    justify-content: space-between;
    counter-reset: imnum;
}

.product-images .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.product-images .small-img-col:hover{
    opacity: 0.8;
}

/*
====================
Product Details
====================
*/

/* flex system */
.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* end of flex */

.product-title {
    position: relative;
    font-size: 3rem;
}

.product-title::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    left: 0;
    bottom: 0;
    background: var(--clr-grey-1);
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    color: var(--clr-grey-1);
}

.product-prices {
    margin: 1rem 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}
.product-prices p {
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-grey-1);
}
.product-prices span {
    font-weight: 400;
}
.last-price span {
    color: #f64749;
    text-decoration: line-through;
}
.new-price span {
    color: #256eff;
}

.product-customizations h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.product-customizations {
    position: relative;
    margin-bottom: 1rem;
}

.product-customizations::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 4px;
    left: 0;
    bottom: 0;
    background: var(--clr-grey-1);
}

.product select {
    display: block;
    padding: 5px 10px;
    background: transparent;
    border: 2px solid var(--clr-grey-10);
    border-radius: 5px;
}

.product .options option {
    font-size: 12px;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product input[type=checkbox] {
    margin-right: 10px;
}

.product .features label {
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--clr-grey-1);
}

.product input[type=number] {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.product input:focus {
    outline: none;
}

.purchase-info .btn {
    background: #4986ff;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 5px;
}

.purchase-info .btn:hover {
    background: #256eff;
    color: var(--clr-white);
}


/*
====================
Product Description
====================
*/
.product-description h3 {
    position: relative;
    font-size: 3rem;
    letter-spacing: 1px;
}


/*
=============== 
alerts
===============
*/

/* .profile-container {
    position: relative;
} */

.alert {
    z-index: 1000;
    position: fixed;
    top: 10px;
    right: 50%;
    transform: translateX(50%);
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 4px;
    animation: slideFromLeft 2s ease-in-out 1;
    transition: var(--transition);
}

/* same width as form-card */
.alert {
    width: 300px;
}

.alert-success {
    background: #D4EDDA;
    border-left: 8px solid #3AD66E;
}

.alert-error {
    background: #FFF3CD;
    border-left: 8px solid #FFA502;
}

@media screen and (min-width:768px) {
    .alert {
        font-size: 20px;
    }

    .alert {
        width: 400px;
    }
}


/*
=============== 
Pre-Order Modal
===============
*/
.modal .modal-footer button {
    letter-spacing: 1px;
}

.modal .modal-footer button:first-child {
    background: #f64749;
}

.modal .modal-footer button:nth-child(2) {
    background: rgba(15, 184, 15, 0.796);
}

.modal .modal-footer button:nth-child(2):hover {
    background: green;
    color: var(--clr-white);
}

.modal .modal-footer button:first-child:hover {
    color: var(--clr-white);
    background: #fa090d;
}