{% extends "accounts/base_profile.html" %}
{% load static %}
{% load widget_tweaks %}

{% load i18n %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/accounts/base_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/edit_profile.css' %}">
{% endblock %}


{% block title %}{% translate 'Edit your account' %}{% endblock %}


{% block profile-form %}
<p class="h4 mb-4 font-weight-bold">{% translate 'Change Password' %}</p>
<hr>
<div class="row">

    <div class="col-md-8">
        <form method="POST">

            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-error" role="alert">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% csrf_token %}

            <div class="form-group">
                <label for="id_old_password">{% translate 'Old Password' %}</label>
                {{ form.old_password|attr:'class:form-control light-bg' }}
            </div>

            <div class="form-group">
                <label for="id_password">{% translate 'New Password' %}</label>
                {{ form.password|attr:'aria-describedby:passwordHelp'|attr:'class:form-control light-bg' }}
                <small id="passwordHelp" class="form-text text-muted">{% translate 'Password must be at least 5 characters long.' %}</small>
                <small id="passwordHelp" class="form-text text-muted">{% translate 'Password must contain numbers and alphebet.' %}</small>
            </div>

            <div class="form-group">
                <label for="id_password1">{% translate 'Repeat Password' %}</label>
                {{ form.password1|attr:'class:form-control light-bg' }}
            </div>

            <button class="btn" type="submit"
                value="Save changes" name='data-submit'>{% translate 'Update Password' %}</button>
        </form>
    </div>
</div>
{% endblock %}