#phone-number-form {
    display:flex;
    flex-direction:row;
    border:1px solid grey;
    padding:2px;
}

#phone-number-form > #id_number {
    flex-grow: 2;
    border:none;
}

#id_number:focus {
    outline: none;
}

#phone-number-form > button {
    border:1px solid blue;
    background:blue;
    color:white;
    transition: all 0.5s ease;
}

#phone-number-form > button:hover {
    cursor: pointer;
    background: rgb(99, 99, 243);
}