/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"); */
@import url(/static/fonts/main-font.css);

/*
=============== 
Variables
===============
*/

:root {
    /* card color */
    --clr-card: #f6f6f9;
    /* dark shades of primary color*/
    --clr-primary-1: #2a2d3c;
    --clr-primary-2: #35394b; 
    --clr-primary-3: #404459;
    --clr-primary-4: #555a77;
    /* primary/main color */
    --clr-primary-5: #6a7195;
    /* lighter shades of primary color */
    --clr-primary-6: #888daa;
    --clr-primary-7: #a6aabf;
    --clr-primary-8: #b5b8ca;
    --clr-primary-9: #c3c6d5;
    --clr-primary-10: #d2d4df;
    /* darkest grey - used for headings */
    --clr-grey-1: #4b4735;
    --clr-grey-2: #595540;
    --clr-grey-3: #68634a;
    --clr-grey-4: #777255;
    /* grey used for paragraphs */
    --clr-grey-5: #86805f;
    --clr-grey-6: #958e6a;
    --clr-grey-7: #a09979;
    --clr-grey-8: #aaa588;
    --clr-grey-9: #b5b097;
    --clr-grey-10: #bfbba6;
    /* tertiary colors*/
    --clr-3-1: #694605;
    --clr-3-2: #7d5306;
    --clr-3-3: #926107;
    --clr-3-4: #a76f08;
    --clr-3-5: #bc7d09;
    --clr-3-6: #d18b0a;
    --clr-3-7: #d69723;
    --clr-3-8: #daa23b;
    --clr-3-9: #dfae54;
    --clr-3-10: #e3b96c;
    /* end of colors */
    --clr-white: #fff;
    --ff-primary: "Lato", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/

/*  the psudo elements don't inheritant from *{ ... } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img:not(.nav-logo) {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    /* font-weight: 700; */
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-8);
}
.section {
    padding: 5rem 0;
}
.section-title {
    text-align: center;
    margin-bottom: 4rem;
}
.section-title h2 {
    letter-spacing: 0;
    word-spacing: var(--spacing);
    text-transform: uppercase;
}
.section-title span {
    color: var(--clr-primary-5);
}
.section-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}
@media screen and (min-width:992px) {
    .section-center {
        width: 95vw;
    }
}

/* Section subtitle  */

.section-title h4 {
    display: none;
}

@media screen and (min-width:768px) {
    .section-title h4 {
        display: block;
    }
    
    .section-title h4{
        padding: 1rem;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section-title h4::before {
        content: '';
        display: block;
        width: 3rem;
        height: 3px;
        background: var(--clr-grey-1);
        margin-right: 10px;
    }
    
    .section-title h4::after {
        content: '';
        display: block;
        width: 3rem;
        height: 3px;
        background: var(--clr-grey-1);
        margin-left: 10px;
    }
}

/* section presale information */
.section .presale-info {
    padding: 1.5rem;
    text-align: justify;
    margin-top: 2rem;
    max-width: 60%;
    border: 2.5px dashed var(--clr-3-5);
}

.section .presale-info p {
    margin-bottom: 0.75rem;
}

.section .presale-info p span:not(.pre-buy) {
    color: var(--clr-3-4);
    font-size: larger;
}

.section .presale-info p .pre-buy {
    text-transform: uppercase;
    color: #256eff;
}