/* half-width row */
.row {
    max-height: 40vh;
    overflow: hidden;
    overflow: scroll;
}
/* Grid system */
.row-grid{
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
    min-height: 30vh;
}
.results {
    width: 100%;
}
.result_list {
    width: 100%;
}


/* some styling */
.field {
    padding-left: 20px;
}
.related-lookup {
    display: inline-block;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
.delete-lookup{
    display: inline-block;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}
.add-icon {
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 45px;
    height: 45px;
}
.btn {
background-color: transparent; 
border: none;
padding: 0;
cursor: pointer;
}

.update-grid {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 0.75rem;
}
.product-details, .update-details {
    height: 100%;
    background: var(--darkened-bg);
    padding: 1rem;
}

.text-content > h1 {
    margin-bottom: 0;
}

